---
import { getCollection } from 'astro:content';
import Wrapper from '../../layouts/wrapper.astro';
import BlogList from '../../components/BlogList.astro';
import BlogHero from '../../components/BlogHero.astro';
import BlogTable from '../../components/BlogTable.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const featured = posts.shift();
const main = posts;
const secondary = posts.splice(0,4);
---

<Wrapper 
	title="Blog // Nick Clarkson, Creative Technologist, Bristol UK"
	description="Insights on ethical tech, web development, AI, and digital strategy—from a creative technologist with over 25 years of hands-on industry experience."
	image={featured.data.heroImage}>

	<BlogHero
		post={featured}
		showButton={true}  />
	
	<section class="section section--solo">
		<div class="section__inner cards">
			<BlogList 
				title="" 
				posts={secondary} />
		</div>
	</section>

	<section class="section section--solo section--grey">
		<div class="section__inner typography">
			<BlogTable
				posts={posts} />
		</div>
	</section>

</Wrapper>