---
import { getCollection } from 'astro:content';
import Wrapper from '../layouts/wrapper.astro';
import BlogList from '../components/BlogList.astro';
import BlogHero from '../components/BlogHero.astro';
import BlogCal from '../components/BlogCal.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const featured = posts.shift();
const main = posts;
const secondary = posts.splice(0,2);
---
<Wrapper
	title="Blog // Nick Clarkson, Creative Technologist, Bristol UK"
	description="Insights on ethical tech, web development, AI, and digital strategy—from a creative technologist with over 25 years of hands-on industry experience."
	image={featured.data.heroImage}>

    <BlogHero
		post={featured}
		showButton={true}  />

    <section class="section section--grid">
		<div class="section__inner cards">
			<BlogList 
				title="" 
				posts={secondary}
                modifier="" />
		</div>
	</section>

    <section class="section section--grid">
        <div class="section__inner cards">
            <BlogCal 
                title="" 
                posts={posts} />
        </div>
    </section>

</Wrapper>