---
import FormattedDate from './FormattedDate.astro'; 
const { post, showButton } = Astro.props;
---
<section class="hero"  style={`background-image: url('${post.data.heroImage}');`}>
    <div class="hero__text">  
        <div class="grad">
            <div class="hero__bg">
                
                <strong><FormattedDate date={post.data.pubDate} /></strong>
                <h1 class="nc nc--medium">{post.data.title}</h1>
                <h2 class="hero__h2">{post.data.description}</h2>     
                <!--  <p class="typography">{post.data.description}</p> -->
                {showButton && (
                    <p><a class="button" href={`/blog/${post.id}/`}>Read Article</a></p>
                )}  
            
            </div>	
        </div>						
    </div>				
</section>