---
import FormattedDate from './FormattedDate.astro'; 

const { post } = Astro.props;
const { id, data } = post;
---

<a href={`/blog/${id}/`} class="card">
  <div class="card__hero">
    <img
      class="card__hero__image"
      src={data.heroImage}
      alt=""
    />
    <div class="card__hero__date">
      <FormattedDate date={data.pubDate} />
    </div>
  </div>
  <div class="card__details">
    <h4 class="card__title">{data.title}</h4>
    <p class="card__desc">{data.description}</p>
  </div>
</a>
